---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Countdown from '~/components/widgets/countdown';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero callToAction2={{ text: 'Learn more', href: '#features' }}>
    <Fragment slot="title">
      Innovation Never Sleeps,<br />
      <span class="highlight capitalize text-accent lg:inline">neither do we.</span>
    </Fragment>
  </Hero>

  <Countdown client:only="react" />

  <!-- Features Widget *************** -->

  <Features
    highlight="Solutions"
    title="What you get with Galois Foundation"
    items={[
      [
        {
          title: 'Hybrid Exchange',
          description:
            'Galois hybrid noncustodial cryptocurrency exchange system is a cutting-edge solution for seamless and secure coin trading. Built on a foundation of innovation and user convenience, our platform offers a unique combination of a noncustodial order book and swap functionality. Users can exchange coins using various order types such as limit, market, stop limit, and OCO. At the core of our system lies a powerful liquidity aggregator, meticulously searching for the most efficient routes to minimize fees and optimize exchange rates. To further enhance liquidity and ensure continuous operation, our platform incorporates a market maker that bridges the order book and swap system, as well as the global market.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Shared Currency Exchange',
          description:
            'Our shared currency exchange system is designed to harness the power of decentralized finance (DeFi) paradigms within the realm of traditional finance. Through shared liquidity and a rewarding system, we have created an innovative solution to enhance liquidity and streamline currency exchanges. By establishing a pool of liquidity, we incentivize member exchanges to contribute liquidity to the shared pool through rewards and commissions.',
          icon: 'tabler:components',
        },
        {
          title: 'Multi Strategy Wallet',
          description:
            'Our smart contract-based wallet serves as an infrastructure solution for companies and groups that operate with shared financial decision-making. With the ability to define transaction policies, users can establish groups of sign holders, withdrawal conditions, and transaction limits as strategies for their company wallet. Each strategy undergoes a voting process, where members of the company or group have the opportunity to accept or reject proposed strategies. Once a strategy is accepted by the majority, it becomes attached to the wallet, ensuring that all transactions align with the approved policies. This transparent and collaborative approach ensures that financial decisions are made collectively, promoting accountability and facilitating efficient asset management.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Liquidity Aggregator',
          description:
            'Our liquidity aggregator revolutionizes cryptocurrency swaps by offering users the optimal swap routes based on their desired fees. With an added focus on rate optimization, we ensure that users receive the most competitive rates for their swaps. Our algorithm is meticulously designed to minimize request processing time, providing fast and efficient swaps. Moreover, our service is highly scalable, allowing for multiple instances of the aggregator to work in harmony through a dedicated request dispatcher. Integrated as a service, our liquidity aggregator can seamlessly integrate with decentralized exchanges (DEXs) across various blockchain networks, enhancing liquidity options for users.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Market Making As A Service',
          description:
            'Token projects often encounter significant challenges that impede their success in the market. Lack of liquidity and low trading volume are among the most pressing issues faced by these projects. Insufficient liquidity not only discourages traders and investors from actively participating in trading activities but also creates an environment prone to price manipulation. The limited availability of liquidity makes it easier for bad actors to manipulate token prices, leading to market instability and mistrust. Furthermore, token projects often face difficulties in listing their tokens on major crypto exchanges due to the lack of liquidity, resulting in lower transaction numbers and decreased visibility for their assets.',
          icon: 'tabler:arrows-right-left',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight="About Us"
    image={{
      src: import('~/assets/images/galois.jpg'),
      alt: 'Galois Mathematician',
    }}
  >
    <Fragment slot="content">
      <p class="text-justify">
        At Galois, we are fueled by an unwavering dedication to innovation in the fintech industry. Our mission is to
        leverage cutting-edge technology to push boundaries and pioneer groundbreaking solutions. We embrace an
        innovative mindset, continuously seeking ways to improve while prioritizing the stability and consistency of our
        customers' businesses. With a relentless pursuit of excellence, we are committed to driving forward the
        evolution of financial technology. Our team comprises a group of seasoned financial system developers and
        innovators, working alongside exceptionally talented young individuals. Together, we form a powerhouse of
        expertise, ready to revolutionize the industry. In our quest to deliver excellence, we actively seek potential
        partners who share our vision. By collaborating with like-minded organizations, we aim to combine our strengths
        and resources to create products and services that are more tailored to client's requirements. We believe in the
        power of partnerships to drive innovation and achieve collective success. While the quality of our services
        remains paramount, we also place great importance on our clients' financial knowledge. We are dedicated to
        empowering our clients with the tools and education they need to make informed decisions and achieve financial
        well-being. By fostering a deeper understanding of the financial landscape, we empower our clients to navigate
        it with confidence. At our newly funded fintech company, innovation is the driving force, and collaboration is
        our foundation. Join us as we embark on this exciting journey, where cutting-edge technology, expertise, and a
        passion for customer-centric solutions converge. Together, let us shape the future of finance and deliver
        unparalleled value to our clients.
      </p>
    </Fragment>
  </Content>
</Layout>
